<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideathon-Project</title>
    <link rel="stylesheet" href="static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <header>
        <h1 class="Name">Scholarship Info</h1>
        <div>
            <nav>
                <a class="nlinks" href="#About">About</a>
                <a class="nlinks" href="#Services">Services</a>
                <a class="nlinks" href="{{url_for('contact')}}">Contact</a>
                <button class="signupbtn">Signup</button>
            </nav>
        </div>
    </header>
    <main>
        <div class="banner">
            <div class="bannerheading"><h2>Unlocking <br>Educational <br>Opportunites <br>Through <br>Scholarships</h2>
                <p class="bannercontent">Scholarship Info is a one-stop resource for all your scholarship needs. Our comprehensive guide, application assistance, and personalized scholarship search ensure that you can achieve your educational goals.</p>
            </div>
            <div class="bannerimg">
                <img src="static/assets/images/banner.png" alt="Students banner image">
            </div>
        </div>
        <section class="services" id="Services">
            <h2 class="servheading">Our Services</h2>
            <div class="servs">
                <div class="serv">
                    <img class="servimg" src="/static/assets/images/guide.jpg" alt="Scholarship Guide">
                    <h3>Scholarship Guide</h3>
                    <p class="servdesc">
                        Our scholarship guide provides a comprehensive roadmap for finding and applying for the right scholarship opportunities that match your academic achievements, financial situation, and personal…
                    </p>
                    <a href="{{url_for('scholarship_Guide')}}" class="readmore">Read More</a>
                </div>
                <div class="serv">
                    <img class="servimg" src="static/assets/images/Search.jpg" alt="Scholarship Search">
                    <h3>Scholarship Search</h3>
                    <p class="servdesc">
                        Our scholarship search service uses a sophisticated algorithm to match your academic achievements, financial situation, and personal interests with the most relevant scholarship opportunities.
                    </p>
                    <a href="#ScholarshipGuide" class="readmore">Read More</a>
                </div>
                <div class="serv">
                    <img class="servimg" src="static/assets/images/Assistance.jpg" alt="Application Assistance">
                    <h3>Application Assistance</h3>
                    <p class="servdesc">
                        We provide personalized assistance to help you create compelling scholarship applications that highlight your strengths and increase your chances of receiving funding for your education
                    </p>
                    <a href="{{url_for('scholarship_Guide')}}" class="readmore">Read More</a>
                </div>
            </div>
        </section>
        <section class="about" id="About">
            <div class="abtdesc">
                <div class="abt">
                    <h3>Our Mission and Vission</h3>
                    <p>
                        At Scholarship Info, we believe that education is a fundamental right, and we are dedicated to helping students achieve their academic goals. We provide comprehensive resources and expert guidance to help students find and apply for scholarships that are the best fit for them. Our commitment to excellence and our customer-first philosophy ensure that every student receives the support they need to succeed.
                    </p>
                </div>
                <img src="static/assets/images/mission.jpg" alt="Mission" class="abtimg">
            </div>

        </section>
        <footer>
            <h3>Thank You For Visiting our Page</h3>
            <p>Copyright 2023</p>
        </footer>
    </main>
</body>
</html>
