<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarship Guide</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>
    <h1>Scholarship Guide</h1>
    <header>
        <div>
            <nav>
                <a class="nlinks" href="/templates/index.html/#About">About</a>
                <a class="nlinks" href="/templates/index.html/#Services">Services</a>
                <a class="nlinks" href="/templates/contact.html">Contact</a>
                <button class="signupbtn">Signup</button>
            </nav>
        </div>
    </header>
    <main>
        <h1>
            Scholarship Guide
        </h1>
    </main>
</body>

</html>